/* */

body{
    background-color: lightgray;
}

h1{color: green;}
h2{color: red;}
h3{color: royalblue;}
p{color: blueviolet;}

c
.firstClass{
    text-align: center;
    background-color: yellow;
}

.secondClass{
    text-align: right;
    background-color: violet;
}
/* style to ID */
#firstID{
    color: purple;
}

#secondID{
    color: sandybrown;
    background-color: springgreen;
}